[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[dev-packages]

[packages]
flask = "*"
waitress = "*"
flask-cors = "*"
json5 = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.8"
